EmployeeAgendaService/src/main/webapp/wsdl/AgendaSearchService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.example.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.example.com" xmlns:intf="http://ws.example.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.example.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="searchEmployee">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchEmployeeResponse">
    <complexType>
     <sequence>
      <element name="searchEmployeeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="EmployeeNotFoundException">
    <sequence/>
   </complexType>
   <element name="fault" type="impl:EmployeeNotFoundException"/>
   <complexType name="EmptyStringException">
    <sequence/>
   </complexType>
   <element name="fault1" type="impl:EmptyStringException"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="EmptyStringException">

      <wsdl:part element="impl:fault1" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchEmployeeRequest">

      <wsdl:part element="impl:searchEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchEmployeeResponse">

      <wsdl:part element="impl:searchEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="EmployeeNotFoundException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AgendaSearchService">

      <wsdl:operation name="searchEmployee">

         <wsdl:input message="impl:searchEmployeeRequest" name="searchEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchEmployeeResponse" name="searchEmployeeResponse">

       </wsdl:output>

         <wsdl:fault message="impl:EmptyStringException" name="EmptyStringException">

       </wsdl:fault>

         <wsdl:fault message="impl:EmployeeNotFoundException" name="EmployeeNotFoundException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AgendaSearchServiceSoapBinding" type="impl:AgendaSearchService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="searchEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="EmptyStringException">

            <wsdlsoap:fault name="EmptyStringException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="EmployeeNotFoundException">

            <wsdlsoap:fault name="EmployeeNotFoundException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AgendaSearchServiceService">

      <wsdl:port binding="impl:AgendaSearchServiceSoapBinding" name="AgendaSearchService">

         <wsdlsoap:address location="http://localhost:8080/EmployeeAgendaService/services/AgendaSearchService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
